* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Poppins_regular";
  src: url(/semana_10/scr/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins_Black";
  src: url(/semana_10/scr/font/Poppins/Poppins-Black.ttf);
}

html {
  font-family: "Poppins_regular";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

nav img {
  width: 150px;
  padding-left: 20px;
}

nav .botones {
  padding: 20px;
}

nav .botones a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  padding: 10px;
}

nav .botones a:hover {
  color: aqua;
  padding: 15px;
  transition-duration: 500ms;
}

main {
  gap: 2%;
  margin: 50px;
}

.parte1 {
  display: flex;
  gap: 2%;

}

.parte1 .fotoRef {
  flex-basis: 69%;
  text-align: center;
  background-color: rgb(175, 175, 249);
  padding: 150px;

}

.parte1 .formulario {
  flex-basis: 29%;
  text-align: center;
  background-color: rgb(220, 220, 251);
  padding: 150px;

}

.parte2 {
    text-align: center;
    padding: 100px;
    border: solid rgb(248, 7, 248) 3px;
    border-radius: 20px;
    margin-top: 35px;
}

footer {
    border: solid rgb(0, 128, 0) 3px;
    padding: 80px;
    margin-top: 10px;
    text-align: center;
  }